<div class="title-bar">

  <div class="container">

    <h1>Book</h1>

  </div>

</div>



<div class="project-book">

  <div class="container">

    <!-- Inequality Book -->

    <div class="row">

      <div class="col-md-8">

        <div class="card">

          <div class="card-header">

            <h3 class="panel-title">

              Basic Inequalities

            </h3>

          </div>

          <div class="card-body">

            <h4>

              <strong>Basic Inequalities & Solutions Manual</strong> - Summer 2016

            </h4>

            <h5>

              Author, Editor - LaTeX

            </h5>

            <p>

              During the middle and high-school years, I used to compete in mathematical tournaments and

              was able to represent my country in the International Mathematical Olympiad (<a href="https://www.imo-official.org/" target="_blank">IMO</a>).

              Since then, I was eager to write a book on the preparation of the Olympiad. In Mongolia, there

              aren't a lot of good source materials to work on. Especially for students who don't have math

              teachers that specifically trains for competitions. Most of the books in the market are 100% translated from

              international books and there are no solutions manual for it. This is not necessarily a bad thing, but we need

              books that are designed for Mongolian students to expand their knowledge. There are very few teachers out there who knows

              these mathematical concepts and even less knows how to solve them. Therefore, I wrote this book to improve the overall

              standard of other books in Mongolian market.

            </p>

            <p>

              There are two types of books which are printed. The main book is for students who need guidance and

              deep knowledge of the different cutting edge techniques out there. Students can read through the book

              without any trouble and its easy to follow. The solutions manual is for students who are stuck and

              have trouble with the problems. Also, the manual is a very good tool for the teachers as well. I purposefully

              printed the solutions manual less than the main book to target teachers.

            </p>

            <p>

              Second edition of the book will be printed on 2018 with additional chapters and more problems.

            </p>

            <ul>

              <li>

                Math book for middle school and high-school students with clear, step-by-step instructions

              </li>

              <li>

                Included essential tools to succeed in Mathematical Olympiads

              </li>

              <li>

                Printed a total of 900 copies and sold over half of them already

              </li>

              <li>

                Along with solutions manual for teachers and self-study students

              </li>

            </ul>

            <p>

              <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
              Follow our Facebook page where I frequently solve Inequality problems that appeared in recent Olympiads
            </p>

            <div class="fb-follow" data-href="https://www.facebook.com/MongolianInequality/" data-layout="standard" data-size="small" data-show-faces="true"></div>

          </div>

        </div>

      </div>

      <div class="col-md-4">
        <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
          <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <h5>{{slide.text}}</h5>
            </div>
          </slide>
        </carousel>
      </div>

    </div>

  </div>

</div>
<app-footer></app-footer>
