<div class="title-bar">
  <div class="container">
    <h1>Contact</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!--<ngx-flash-messages></ngx-flash-messages>-->
      <flash-messages></flash-messages>
      <form novalidate #captchaProtectedForm="ngForm" (ngSubmit)="sendEmail(captchaProtectedForm)">
        <div>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control"
                   [ngClass]="{'is-invalid':(clientName.errors?.required && clientName.touched) || (clientName.errors?.minlength && clientName.touched)}"
                   name="name"
                   placeholder="Your Name"
                   [(ngModel)]="user.name"
                   #clientName="ngModel" minlength="2" required>
            <div *ngIf="clientName.errors?.required && clientName.touched" class="invalid-feedback">Your name is required</div>
            <div *ngIf="clientName.errors?.minlength && clientName.touched" class="invalid-feedback">Must be at least 2 characters long</div>
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" class="form-control"
                   [ngClass]="{'is-invalid': (clientEmail.errors?.required && clientEmail.touched) || (clientEmail.errors?.pattern && clientEmail.touched)}"
                   name="email"
                   placeholder="Your Email"
                   [(ngModel)]="user.email"
                   #clientEmail="ngModel" required
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            >
            <div *ngIf="clientEmail.errors?.required && clientEmail.touched" class="invalid-feedback">Your email is required</div>
            <div *ngIf="clientEmail.errors?.pattern && clientEmail.touched" class="invalid-feedback">Your email is not correct</div>

          </div>
          <div>
            <label for="message">Message:</label>
            <textarea rows="6" class="form-control"
                      [ngClass]="{'is-invalid':(clientMessage.errors?.required && clientMessage.touched) || (clientMessage.errors?.minlength && clientMessage.touched)}"
                      name="message"
                      placeholder="Your Message"
                      [(ngModel)]="user.message"
                      #clientMessage="ngModel" minlength="2" required>
            </textarea>
            <div *ngIf="clientMessage.errors?.required && clientMessage.touched" class="invalid-feedback">Your message is required</div>
            <div *ngIf="clientMessage.errors?.minlength && clientMessage.touched" class="invalid-feedback">Must be at least 2 characters long</div>
          </div>
          <br>
          <re-captcha
            [(ngModel)]="formModel.captcha"
            name="captcha"
            required
            siteKey="6Leg_D4UAAAAADYhBCHRzjbZvv1nciMJuAE-35Bx"
            #captchaControl="ngModel"
          ></re-captcha><!--siteKey="6Leg_D4UAAAAADYhBCHRzjbZvv1nciMJuAE-35Bx"-->
          <br>
          <div *ngIf="captchaControl.valid || captchaControl.pristine" class="invalid-feedback">Captcha must be solved</div>
          <!--<div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>-->
          <!--<div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>-->
          <!--<div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>-->



          <br>
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Send Email</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
