<div class="title-bar">
  <div class="container">
    <h1>About</h1>
  </div>
</div>

<div class="about">
  <div class="container">

    <div class="row">
      <div class="col-md-8">
        <!-- Awards and Certificates -->
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Awards and Certificates
            </h3>
          </div>
          <div class="card-body">
            <h4>
              <i class="fa fa-mobile-phone"></i> &nbsp; Zillion Solutions - Dec 2017
            </h4>
            <ul>
              <li> Winner of the overall Zillion solutions competition plus mobile application category. Details

                <a href="https://www.umflint.edu/som/zillion-solutions" target="_blank">
                  here
                </a>

            </ul>
            <h4>
              <i class="fa fa-university"></i> &nbsp; Departmental Funding - 2016 to 2017
            </h4>
            <ul>
              <li>In graduate school, received full tuition funding plus monthly stipend from CEE department of U of Washington.</li>
            </ul>
            <h4>
              <i class="fa fa-certificate"></i> &nbsp; Engineering in Training (E.I.T)
            </h4>
            <ul>
              <li>Earned E.I.T certificate from the state of Washington</li>
            </ul>

            <h4>
              <i class="fa fa-university"></i> &nbsp; State Training fund - 2012 to 2016
            </h4>
            <ul>
              <li>Received scholarship from the government which paid full tuition plus living expenses for undergraduate years.</li>
            </ul>

            <h4>
              <i class="fa fa-university"></i> &nbsp; Dean's List - 2012 to 2016
            </h4>
            <ul>
              <li>Placed in the Dean's list every quarter attended (9 quarters).</li>
            </ul>

            <h4>
              <i class="fa fa-superscript"></i> &nbsp; International Mathematical Olympiad (IMO) - 2011
            </h4>
            <ul>
              <li>Participated and represented our country to be part of six member team in Amsterdam</li>
            </ul>

            <h4>
              <i class="fa fa-trophy"></i> &nbsp; Mathematical Olympiad
            </h4>
            <ul>
              <li>Won over 30 medals from national mathematical olympiads</li>
            </ul>

          </div>
        </div>
        <br>
        <!-- Programming Languages -->
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Programming Languages
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                Java
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:88%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                C#
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Python
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:92%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Matlab
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Javascript
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Ruby
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:82%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                C++
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                    Medium
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Framework -->
        <br>
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Framework, Platform, & Others
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                NodeJS
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:89%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Angular, Ionic
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:83%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                React, React-Native
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:72%">
                    Medium
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                PyQT
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                HTML5, CSS, Sass
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                SQL
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    High
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-gears" title="For science & engineering"></i> &nbsp; Opensees
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    High
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-gears" title="For science & engineering"></i> &nbsp; LaTeX
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                    High
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-gears" title="For science & engineering"></i> &nbsp; MathCaD
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    High
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br>
        <!-- Software -->
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Software
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-gears" title="For science & engineering"></i> &nbsp; Solidworks
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                AUTOCAD
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-gears" title="For science & engineering"></i> &nbsp; SAP2000
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    High
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                Revit, Navisworks
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                    Average
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Myself
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <img src="assets/img/profile.png" width="100%">
                <br>
                <br>

              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10">
                <p>
                  <a href="http://www.tsenguun.com" target="_blank">
                    <i class="fa fa-internet-explorer" aria-hidden="true"></i> &nbsp; tsenguun.com
                  </a>
                </p>
                <p>
                  <a href="https://www.linkedin.com/in/tsenguun-ts/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i> &nbsp; linkedin.com/in/tsenguun-ts
                  </a>
                </p>
                <p>
                  <a href="https://www.facebook.com/tsenguun.tsogbadrakh" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i> &nbsp; fb.com/tsenguun.tsogbadrakh
                  </a>
                </p>
                <p>
                  <a href="https://github.com/tsenguunchik" target="_blank">
                    <i class="fa fa-github-square" aria-hidden="true"></i> &nbsp; github.com/tsenguunchik
                  </a>
                </p>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <i class="fa fa-bookmark-o" aria-hidden="true"></i> &nbsp; Passionate problem solver who loves teaching and sharing knowledge amongst students and fellow colleagues.
                  Also, I'm eager to learn the subjects that I'm interested in, and I acquired most of my programming knowledge
                  through self-study. Looking for ways to improve society's lives by using my combined knowledge of engineering and
                  computer science.
                </p>
                <p>
                  <i class="fa fa-play-circle-o" aria-hidden="true"></i> &nbsp; My hobbies include:
                <ul>
                  <li>
                    Solving Olympiad inequality problems
                  </li>
                  <li>
                    Uploading instructional videos to YouTube
                  </li>
                  <li>
                    Card tricks
                  </li>
                  <li>
                    Bowling
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
