@import 'variables';
@import 'functions';

.card{
  box-shadow: 10px 10px 5px #888888;
  border: 0;
}

.card-header{
  background-color: $main-color;
  h3, h4, h5{
    color: set-text-color($main-color);
  }
  h3{
    font-size: 20px;
  }
}

.card-body{
  padding-left: 30px;
  border-left: 2px $main-color1 solid;
}

.card-footer {
  background-color: darken($main-color, 20);
  a {
    color: set-text-color($main-color);
  }

  h3, h4{
    color: set-text-color($main-color);
  }
  h3{
    font-size: 20px;
  }
}

.title-bar{
  padding-bottom: 10px;
  //color: set-text-color($main-color1);
  border-bottom: 4px solid $main-color;
  text-align: center;
  margin-bottom: 20px;
  background-color: $main-color1;
  h1{
    font-size: 60px;
    text-shadow: 2px 2px darken($main-color, 10%), 9px 8px 0 rgba(0,0,0,0.15);
  }
}

// Slide shows
.carousel{
  margin-left: 30px;
  margin-right: 20px;
  box-shadow: 10px 10px 5px #888888;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.25);
}


.list-group{
  box-shadow: 10px 10px 5px #888888;
}

.project{
  .col-md-4{
    text-align: center;
    p{
      font-size: 20px;
    }
    font-size: 10em;
    span{
      margin: 0;
    }
  }
}

// Project gallery

.hover-container {
  position: relative;
  border: $main-color1 10px solid;
  border-radius: 10px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.hover-container:hover .image {
  opacity: 0.3;
}

.hover-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: $main-color2;
  color: set-text-color($main-color2);
  font-size: 16px;
  padding: 16px 32px;
}





