@import '../../node_modules/bootstrap/scss/bootstrap';
@import './variables';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import './mixins';
@import './functions';


@import url(https://fonts.googleapis.com/css?family=Oswald);

body, html {
  font-family: 'Oswald';
}


html { overflow-y: scroll; }

.alert p {
  margin: 0;
  padding: 0;
}

