<div class="title-bar">
  <div class="container">
    <h1>Computer Science</h1>
  </div>
</div>

<div class="project-computerScience">
  <div class="container">
    <app-pure-cs></app-pure-cs>
    <br>
    <app-cs-engr></app-cs-engr>
  </div>
</div>

<app-footer></app-footer>
