@import '~sass/mixins';
.navbar{
  background-color: $main-color;
  a{
    color: set-text-color($main-color) !important;
    :hover{
      color: darken(set-text-color($main-color), 10);
    }
  }
  .fa{
    font-size: 24px;
    padding-left: 20px;
  }
}

.nav-item {
  padding: 10px;
}

.nav-item.active {
  background-color: darken($main-color, 10);
}

.nav-item:hover {
  background-color: darken($main-color, 10);
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
