<nav class="navbar navbar-expand-lg navbar-dark no-padding no-margin">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/">TTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [collapse]=isCollapsed>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/about" (click)="isCollapsed = !isCollapsed">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" routerLink="/education" (click)="isCollapsed = !isCollapsed">Education</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " href="#" routerLink="/projects" (click)="isCollapsed = !isCollapsed">Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " href="#" routerLink="/work" (click)="isCollapsed = !isCollapsed">Work</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " href="#" routerLink="/reference" (click)="isCollapsed = !isCollapsed">Reference</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " href="assets/files/Resume.pdf" target="_blank" (click)="isCollapsed = !isCollapsed">Resume</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " href="#" routerLink="/contact" (click)="isCollapsed = !isCollapsed">Contact</a>
        </li>
      </ul>
      <hr>
      <a href="https://twitter.com/tsenguunchik" target="_blank"><i class="fa fa-twitter"></i></a>

      <a href="https://www.facebook.com/tsenguun.tsogbadrakh" target="_blank"><i class="fa fa-facebook-official"></i></a>

      <a href="https://www.linkedin.com/in/tsenguun-ts/" target="_blank"><i class="fa fa-linkedin-square"></i></a>

      <a href="https://github.com/tsenguunchik" target="_blank"><i class="fa fa-github"></i></a>

    </div>
  </div>

</nav>

















<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#">Brand</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" [collapse]=isCollapsed>-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown" dropdown>-->
          <!--<a href="#" dropdownToggle class="dropdown-toggle">Dropdown <span class="caret"></span></a>-->
          <!--<ul *dropdownMenu class="dropdown-menu" role="menu">-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
            <!--<li class="divider dropdown-divider"></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<form class="navbar-form navbar-left">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown" dropdown>-->
          <!--<a href="#" dropdownToggle class="dropdown-toggle">Dropdown <span class="caret"></span></a>-->
          <!--<ul *dropdownMenu class="dropdown-menu" role="menu">-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
            <!--<li class="divider dropdown-divider"></li>-->
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
