<div class="title-bar">

  <div class="container">

    <h1>Engineering</h1>

  </div>

</div>


<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Drop-In-Span Prestressed Concrete

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>CEE 453/599 Prestressed Concrete Design</strong> - Winter 2016

          </h4>

          <h4>

            Scope

          </h4>

          <p>

            A two lane pre-stressed concrete road bridge is to be constructed across a steep ravine

            with the geometry shown in 8th slide show. For the purposes of this analysis, the location of

            the bridge was assumed to be remote, so innovative construction methods had to be

            used as normal assembly schemes would not be possible for either a lack of equipment

            or sheer distance from ready mix concrete plants.



          </p>

          <p>

            This report looks to outline from a structural engineer’s prospective a construction

            method and some preliminary design for the chose method

          </p>

          <ul>

            <li>

              Team Members:  Mauricio Stoppa, Dmitriy Penzin

            </li>

            <li>

              Tools used: Structural Analysis, Solidworks

            </li>

          </ul>

          <p>

            <a href="assets/project/453.pdf" target="_blank"> Link</a>  for the full document.

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-engr></app-other-engr>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>

  </div>

</div>

<app-footer></app-footer>
