<div class="title-bar">

  <div class="container">

    <h1>Computer Science & Engineering</h1>

  </div>

</div>

<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Reinforced Concrete Beam Section Analysis

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>Individual Project</strong> - Winter 2016

          </h4>

          <h4>

            Scope

          </h4>

          <p>

            This is a basic application that solves everyday problem that occurs in structural engineering world.

            Calculates the moment capacity of the given cross section by ACI (American Concrete Institute) method.

            The user can input any trapezoidal concrete geometry and place the steel rebar anywhere.

          </p>

          <p>

            It outputs the reduced and nominal moment capacity, and the strain in the bottom steel layer.

          </p>

          <ul>

            <li>

              Tools used: C#, Visual Studio

            </li>

          </ul>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-cs-engr></app-other-cs-engr>
    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>

  </div>

</div>

<app-footer></app-footer>
