<div class="title-bar">

  <div class="container">

    <h1>Engineering</h1>

  </div>

</div>

<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Reinforced concrete building with SRCW

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>CEE 442 Capstone design course</strong> - Spring 2016

          </h4>

          <h4>

            Building Overview

          </h4>

          <p>

            For this project, Altan Co. has been contracted to design and construct a replacement for the UW's civil engineering building, More Hall.

            The new infrastructure will be called the Blume Building and is located inside the UW Seattle's campus in place of the current More Hall.

          </p>

          <p>

            It will be a 6-story, 200,000 gross square foot building. It will be used mainly to serve a variety of academic necessities,

            including house classrooms, faculty offices, conference rooms, lounges and labs.

          </p>

          <p>

            After careful considerations, the design and engineer team at Altan Co. decided to utilize a reinforced-concrete frame as the building’s main gravity system. The reasons behind this are:

          </p>

          <ul>

            <li>

              Concrete provides a cheaper material cost in comparison to a pure steel system.

            </li>

            <li>

              Although construction time may take longer, using concrete means will reduce the labor cost for designing and installing the steel connections.

            </li>

          </ul>

          <p>

            In comparison to pre-stressed concrete, reinforced-concrete system has some disadvantages.

          </p>

          <ul>

            <li>

              Having a larger volume of concrete when poured leads to higher self-weight and a larger moment of inertia.

            </li>

            <li>

              However, a pre-stressed system will require more design efforts and would raise the cost considerably as well.

            </li>

          </ul>

          Role in the team:

          <ul>

            <li>

              Team Leader

            </li>

            <li>

              Did the earthquake calculation along with the design of shear walls, slabs, beam, and column.

            </li>

            <li>

              Tools used: SAP2000, OpenSees, AutoCAD, MathCad

            </li>

          </ul>

          <p>

            <a href="assets/project/442.pdf" target="_blank"> Link</a>  for the full document.

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-engr></app-other-engr>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

</div>
<app-footer></app-footer>
