@import '~sass/mixins';


.panel-heading{
  h3, h4{
    color: set-text-color($main-color);
  }
  h3{
    font-size: 20px;
  }
}

.panel-body{
  padding-left: 30px;
  border-left: 2px $main-color1 solid;
}

.panel{
  box-shadow: 10px 10px 5px #888888;
}


.jumbotron{
  margin: 0;
  h5{
    font-size: 20px;
  }
  h1{
    font-size: 80px;
    text-shadow: 2px 2px darken($main-color, 10%), 9px 8px 0 rgba(0,0,0,0.15);
  }
}

.main{
  .col-md-4{
    text-align: center;
  }
  .col-md-3{
    p{
      font-size: 40px;
    }
  }

  .fa-stack{
    font-size: 6em;
  }
}

.vcenter{
  display: flex;
  align-items: center;
  text-align: center;
}

.developer{
  background-color: darken($main-color, 10%);
  color: set-text-color(darken($main-color, 10%));
  text-shadow: 4px 4px darken($main-color, 30%);
}

.designer{
  background-color: $main-color1;
  color: set-text-color($main-color1);
  text-shadow: 3px 3px lighten($main-color, 30%);
}

.engineer{
  background-color: $main-color2;
  color: set-text-color($main-color2);
  text-shadow: 3px 3px lighten($main-color2, 10%);
}

.author{
  background-color: $main-color;
  color: set-text-color($main-color);
  text-shadow: 4px 4px darken($main-color, 30%);
}

.explore{
  background-color: $main-color1;
  color: set-text-color($main-color1);
  a{
    font-size: 40px;
    box-shadow: 10px 10px 5px darken($main-color, 10%);
  }
}


.panel{
  border: none;
}

// Responsive aspect
@media screen and (max-width: 1024px) {
  .jumbotron{
    h1{
      font-size: 60px;
    }
  }

  .main{
    .col-3{
      p{
        font-size: 30px;
      }
    }

    .fa-stack{
      font-size: 3em;
    }
  }

  .explore{
    a{
      font-size: 25px;
      text-align: center;
    }
  }
}

