<div class="main">
  <div class="jumbotron text-center">
    <div class="container">
      <h5>Hello, my name is</h5>
      <h1 ngsReveal>Tsenguun Tsogbadrakh</h1>
      <h5>and I am a</h5>
    </div>

  </div>
  <div class="container" [ngsRevealSet]="{reset:true}" [ngsInterval]="300" [ngsSelector]="'.row'">

    <div ngsReveal class="row vcenter developer">

      <div class="col-md-3 col-3">

        <p>Developer</p>

      </div>
      <div class="col-md-3 col-3"></div>
      <div class="col-md-3 col-3">

                        <span class="fa-stack">

                          <i class="fa fa-television fa-stack-2x"></i>

                          <i class="fa fa-terminal fa-stack-1x"></i>

                        </span>

      </div>

    </div>

    <div class="row vcenter designer">
      <div class="col-md-3 col-3"></div>
      <div class="col-md-3 col-3">
        <p>Designer</p>
      </div>
      <div class="col-md-3 col-3"></div>
      <div class="col-md-3 col-3">
                        <span class="fa-stack">
                          <i class="fa fa-laptop fa-stack-2x"></i>
                          <i class="fa fa-paint-brush fa-stack-1x"></i>
                        </span>
      </div>
    </div>

    <div class="row vcenter engineer">
      <div class="col-md-3 col-3">
                        <span class="fa-stack">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-cogs fa-stack-1x"></i>
                        </span>
      </div>
      <div class="col-md-3 col-3"></div>
      <div class="col-md-3 col-3">
        <p>Engineer</p>
      </div>
    </div>
    <div class="row vcenter author">
      <div class="col-md-3 col-3"></div>
      <div class="col-md-3 col-3">
                        <span class="fa-stack">
                            <i class="fa fa-circle-o fa-stack-2x"></i>
                            <i class="fa fa-book fa-stack-1x"></i>
                        </span>
      </div>
      <div class="col-md-3 col-3"></div>
      <div class="col-md-3 col-sm-3 col-3">
        <p>Author</p>
      </div>
    </div>
    <div class="row vcenter explore">
      <div class="col-md-12 col-12">
        <h2>
          <a href="#" routerLink="/projects" class="btn btn-info btn-lg">Explore what I mean</a>
        </h2>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
