<div class="card">

  <div class="card-header">

    <h3 class="panel-title">Computer Science & Engineering</h3>

  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="hover-container">

          <a href="#" routerLink="/projects/cse/concrete-section-win">
            <img src="assets/img/project/SectionAnalysis/4.PNG" alt="" class="image" style="width:100%">

            <div class="middle">

              <div class="text">Read More...</div>

            </div>

          </a>

          <p class="text-center">

            Concrete Beam Section Analysis

          </p>

        </div>

      </div>

      <div class="col-md-4">

        <div class="hover-container">

          <a href="#" routerLink="/projects/cse/research-wall">

            <img src="assets/img/project/ResearchWall/IP.JPG" alt="" class="image" style="width:100%">

            <div class="middle">

              <div class="text">Read More...</div>

            </div>

          </a>

          <p class="text-center">

            Research Project - Wall Analysis

          </p>

        </div>

      </div>

      <div class="col-md-4">

        <div class="hover-container">

          <a href="#" routerLink="/projects/cse/project-442">

            <img src="assets/img/project/442/1.png" alt="" class="image" style="width:100%">

            <div class="middle">

              <div class="text">Read More...</div>

            </div>

          </a>

          <p class="text-center">

            Capstone Design Project

          </p>

        </div>
      </div>

    </div>

  </div>

</div>
