<div class="title-bar">
  <div class="container">
    <h1>Computer Science</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="panel-title">
            Magic - Game
          </h3>
        </div>
        <div class="card-body">
          <h4>
            <strong>Individual Project</strong> - Autumn 2017 - <a href="http://magic.tsenguun.com/" target="_blank">magic.tsenguun.com</a>
          </h4>
          <h4>
            Description:
          </h4>
          <p>
            This is a simple Magic game that would blow your mind! Click <a href="http://magic.tsenguun.com/" target="_blank">here</a> to try out!
          </p>
          <ul>
            <li>
              Think of a number between 10 to 99
            </li>
            <li>
              Then subtract its digits. For instance, if your number was 69, then you do 69 - 6 - 9 = 54
            </li>
            <li>
              Look at the icon that is associated with your number
            </li>
            <li>
              To see the magic, click reveal
            </li>
          </ul>
          <p>
            Explanation: All the numbers that would be generated after the subtraction would be divisible by 9. Two digit
            numbers like AB would be 10 * A + B and after the subtraction, it would be 10 * A + B - A - B = 9 * A
          </p>
          <p>
            All the numbers divisible by 9 will have the same icon.
          </p>
          <ul>
            <li>
              Tools used: Angular, Bootstrap, Font-awesome
            </li>
          </ul>
          <p>
            <a href="https://github.com/tsenguunchik/magic" target="_blank"> Link</a> for the Github page.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-other-cs></app-other-cs>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<app-footer></app-footer>
