<div class="title-bar">
  <div class="container">
    <h1>Work Experience</h1>
  </div>
</div>

<div class="work">
  <div class="container">
    <div class="row">




      <div class="col-md-8">

        <!-- Internship Experience -->
        <div #INC class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Computer Science - Internship Experience
            </h3>
          </div>
          <div class="card-body">
            <div class="well">
              <h4>
                <strong>Software Engineering Internship</strong> - Angular, Go
              </h4>
              <h5>
                <i class="fa fa-google" aria-hidden="true"></i> Google - Summer 2018
              </h5>
              <ul>
                <li>
                  Working for Apigee team. Details will follow
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <!-- Research Experience -->
        <div #RA class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Research Experience
            </h3>
          </div>
          <div class="card-body">
            <div class="well">
              <h4>
                <strong>Research Assistant</strong> - Node JS, MySQL
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Michigan Flint - Autumn 2017 to Spring 2018
              </h5>
              <ul>
                <li>
                  Develop pivoting and genetic algorithms to assign players to teams in MOBA games based on compositions and roles
                </li>
                <li>
                  Data mining from League of Legends developer API for testing the algorithm
                </li>
                <li>
                  Creating web application in Node to simulate/test the algorithm for actual players
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Research Assistant</strong> - Matlab, Python, OpenSees
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Washington - Spring 2016 to Summer 2017 - 16 months
              </h5>
              <ul>
                <li>
                  Analysis of irregular special reinforced concrete shear walls in OpenSees
                </li>
                <li>
                  Perform dynamic and push over analysis of the designed walls
                </li>
                <li>
                  Modeling multi non-linear buckling stress-strain response for steel rebar
                </li>
                <li>
                  Updated given wall database attributes and added newly tested walls into the system
                </li>
                <li>
                  Created automated algorithm to produce the desired result such as stress strain curve using different elements
                </li>
                <li>
                  Used Python and Matlab to post process the data
                </li>
                <li>
                  The research paper is on its way, and I will put the link when its finished.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Teaching Experience -->
        <br>
        <div #TA class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Teaching Experience
            </h3>
          </div>
          <div class="card-body">
            <div class="well">
              <h4>
                <strong>Grader</strong> - Data Structures, Database Design
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Michigan - Winter 2018
              </h5>
              <ul>
                <li>
                  CSC 375, CSC 384 respectively
                </li>
                <li>
                  Grade homework, and exams
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Tutor</strong> - Student Success Center
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Michigan - Winter 2018
              </h5>
              <ul>
                <li>
                  Walk-in or appointment tutoring for students
                </li>
                <li>
                  Subjects: Math - Calculus; Computer Science - Junior level
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Teaching Assistant</strong> - Advanced Structure I
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Washington - Spring 2017
              </h5>
              <ul>
                <li>
                  CEE 456 - Matrix method for solving structural systems
                </li>
                <li>
                  Teaching lab section for 30+ students for 2 hours per week
                </li>
                <li>
                  Holding weekly office hours
                </li>
                <li>
                  Grade homework, exams, and quizzes
                </li>
                <li>
                  Create homework solutions in LaTeX
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Teaching Assistant</strong> - Advanced Structure II
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Washington - Winter 2017
              </h5>
              <ul>
                <li>
                  CEE 457/599 - Finite Element analysis class
                </li>
                <li>
                  Holding weekly office hours
                </li>
                <li>
                  Grade homework and exams
                </li>
                <li>
                  Create homework solutions in LaTeX
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Grader</strong> - Mechanics of Materials
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Washington - Autumn, Winter, Spring 2016
              </h5>
              <ul>
                <li>
                  CEE 220 - Introduction to mechanics of structural members
                </li>
                <li>
                  Holding weekly office hours
                </li>
                <li>
                  Grade homework and exams
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Grader</strong> - Visualization and CAD
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> University of Washington - Winter, Spring, Autumn 2015
              </h5>
              <ul>
                <li>
                  ME 123 - SolidWorks modelling class
                </li>
                <li>
                  Holding weekly office hours
                </li>
                <li>
                  Grade homework
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Teacher</strong> - Physics, English, and TOEFL
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> Association of Mongolian Students in America (AMSA) - 2013, 2014, 2015 Summer
              </h5>
              <ul>
                <li>
                  Taught high-school and university students to prepare for the SAT subject test: Physics
                </li>
                <li>
                  Taught writing section of the TOEFL test to 30+ students
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Teacher</strong> - Math
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> Tomujin - 2015 Summer
              </h5>
              <ul>
                <li>
                  Taught high-school and university students to prepare for the SAT subject test: Math
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Volunteer Tutor</strong> - Math
              </h4>
              <h5>
                <i class="fa fa-university" aria-hidden="true"></i> UMass Dartmouth - 2013 Spring
              </h5>
              <ul>
                <li>
                  Taught Calculus and Pre-Calculus materials to students who sought help
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Internship Experience -->
        <br>
        <div #INE class="card">
          <div class="card-header">
            <h3 class="panel-title">
              Engineering - Internship Experience
            </h3>
          </div>
          <div class="card-body">
            <div class="well">
              <h4>
                <strong>Structural Engineer Intern</strong> - C# GUI, Lira
              </h4>
              <h5>
                <i class="fa fa-building" aria-hidden="true"></i> PCDP - Summer 2015
              </h5>
              <ul>
                <li>
                  Drafting detail drawings using AutoCad with a team of structural engineers
                </li>
                <li>
                  Creating structural software such as finding anchorage length, and calculating rebar areas
                </li>
                <li>
                  Performing structural analysis using Lira software
                </li>
              </ul>
            </div>
            <div class="well">
              <h4>
                <strong>Inspector Engineer Intern</strong>
              </h4>
              <h5>
                <i class="fa fa-building" aria-hidden="true"></i> NUBIA - Summer 2014
              </h5>
              <ul>
                <li>
                  Worked on the New Ulaanbaatar International Airport Construction Project (NUBIA)
                </li>
                <li>
                  Checked main terminal’s rib bar, reinforced concrete, and wall designs on site
                </li>
                <li>
                  Guided the installation and construction process of runway pavement
                </li>
                <li>
                  Worked with survey team to note runway, and field measurements
                </li>
                <li>
                  Tested prestressed concretes and cements mixtures to insure its quality
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="list-group">
            <div class="card-header">
              <h5>Jump To</h5>
            </div>
            <a (click)="scroll(INC)" class="list-group-item list-group-item-action"><i class="fa fa-code fa-fw" aria-hidden="true"></i>&nbsp; Computer Science - Internship Experience</a>
            <a (click)="scroll(RA)" class="list-group-item list-group-item-action"><i class="fa fa-flask fa-fw" aria-hidden="true"></i>&nbsp; Research Experience</a>
            <a (click)="scroll(TA)" class="list-group-item list-group-item-action"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Teaching Experience</a>
            <a (click)="scroll(INE)" class="list-group-item list-group-item-action"><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>&nbsp; Engineering - Internship Experience</a>
          </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>








