<div class="title-bar">

  <div class="container">

    <h1>Engineering</h1>

  </div>

</div>



<div class="project-engineering">

  <div class="container">
    <app-pure-engr></app-pure-engr>
    <br>
    <app-cs-engr></app-cs-engr>

  </div>

</div>
<app-footer></app-footer>


