<div class="title-bar">
  <div class="container">
    <h1>Computer Science</h1>
  </div>
</div>

<div class="container">
  <!-- Inequality Book -->
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="panel-title">
            Newtonify - Hackathon - Online Math Solver API
          </h3>
        </div>
        <div class="card-body">
          <h4>
            <strong>Crimson Code</strong> - Mar 2018 - <a href="http://www.newtonify.com" target="_blank">www.newtonify.com</a>
          </h4>

          <h4>
            Description:
          </h4>
          <p>
            Our team have created a calculator API that can do various mathematical functions.
            To demonstrate the API, we have created web and mobile applications in Angular 5 and Ionic respectively.
          </p>
          <ul>
            <li>
              Calculations include: integration, differentiation, expansion, and simplification.
            </li>
            <li>
              API server is hosted in AWS, backend is built in Python's Sympy package
            </li>
            <li>
              The input is represented as in real-time in a nice LaTeX style
            </li>
            <li>
              The result is also represented in a LaTeX style
            </li>
            <li>
              Users can copy the output in LaTeX format, for their homework, paper, or dissertation
            </li>
          </ul>
          Tools used:
          <ul>
            <li>
              Angular 5, Ionic, Typescript, Python, Django, REST, AWS, Sympy
            </li>
          </ul>
          <p>
            <a href="https://devpost.com/software/newtonify" target="_blank"> Link</a> for the Devpost.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-other-cs></app-other-cs>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
<app-footer></app-footer>
