<div class="card">

  <div class="card-header">

    <h3 class="panel-title">Pure Engineering</h3>

  </div>

  <div class="card-body">

    <div class="row">

      <div class="col-md-4">

        <div class="hover-container">

          <a href="#" routerLink="project-506">

            <img src="assets/img/project/506/stress.png" alt="" class="image" style="width:100%">

            <div class="middle">

              <div class="text">Read More...</div>

            </div>

          </a>

          <p class="text-center">

            Steel Reinforcing Buckling in Reinforced Concrete

          </p>

        </div>

      </div>

      <div class="col-md-4">

        <div class="hover-container">

          <a href="#" routerLink="project-453">

            <img src="assets/img/project/453/11%20-%20Final%20Image.JPG" alt="" class="image" style="width:100%">

            <div class="middle">

              <div class="text">Read More...</div>

            </div>

          </a>

          <p class="text-center">

            Prestressed Concrete Drop-in Span Bridge Design

          </p>

        </div>

      </div>
      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="project-442">

            <img src="assets/img/project/442/1.png" alt="" class="image" style="width:100%">

            <div class="middle">

              <div class="text">Read More...</div>

            </div>

          </a>

          <p class="text-center">

            Capstone Design Project

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
