<div class="list-group">

  <a href="#" routerLink="/projects/cs" class="list-group-item card-header">

    Other Computer Science and Engineering Projects

  </a>

  <a href="#" routerLink="/projects/cse/research-wall" class="list-group-item list-group-item-action"><i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Wall Analysis - Research</a>

  <a href="#" routerLink="/projects/cse/concrete-section-win" class="list-group-item list-group-item-action"><i class="fa fa-calculator fa-fw" aria-hidden="true"></i>&nbsp; Concrete Beam section Analysis</a>

  <a href="#" routerLink="/projects/cse/project-442" class="list-group-item list-group-item-action"><i class="fa fa-building fa-fw" aria-hidden="true"></i>&nbsp; Capstone Design Project</a>

</div>
