<div class="title-bar">
  <div class="container">
    <h1>Computer Science</h1>
  </div>
</div>

<div class="container">
  <!-- Inequality Book -->
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="panel-title">
            Beam Calculator - Engineering Web Application
          </h3>
        </div>
        <div class="card-body">
          <h4>
            <strong>Individual Project</strong> - Autumn 2017 - <a href="http://beam.tsenguun.com" target="_blank">beam.tsenguun.com</a>
          </h4>

          <h4>
            Description:
          </h4>
          <p>
            This application is for civil engineering students, professors, as well as professionals. With easy to use interface, users are one click away from
            calculating the moment capacity of a desired reinforced concrete section.
          </p>
          <ul>
            <li>
              Stores the client calculation info in Firebase database to monitor the application in real-time.
            </li>
            <li>
              Has English and Mongolian Language implementations
            </li>
            <li>
              Can toggle between SI and IM units
            </li>
            <li>
              Calculates the moment capacity according to <a href="http://www.concrete.org/" target="_blank">ACI</a> code.
            </li>
            <li>
              Draws the given section on the side as well as its strain diagram.
            </li>
            <li>
              User can add up to 10 layers of steel.
            </li>
          </ul>
          Tools used:
          <ul>
            <li>
              Angular 5, Firebase, Typescript
            </li>
          </ul>
          <p>
            <a href="https://github.com/tsenguunchik/AlphaBeta" target="_blank"> Link</a> for the Github page.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <app-other-cs></app-other-cs>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
<app-footer></app-footer>
