<div class="list-group">
  <a href="#" class="card-header" routerLink="/projects/cs">
    Other Computer Science Projects
  </a>
  <a href="#" routerLink="/projects/cs/concrete-section-web" class="list-group-item list-group-item-action"><i class="fa fa-square-o fa-fw" aria-hidden="true"></i>&nbsp; Beam Calculator</a>
  <a href="#" routerLink="/projects/cs/crimsoncode-2018" class="list-group-item list-group-item-action"><i class="fa fa-superscript fa-fw" aria-hidden="true"></i>&nbsp; Newtonify API - Hackathon</a>
  <a href="#" routerLink="/projects/cs/alpha-beta" class="list-group-item list-group-item-action"><i class="fa fa-gamepad fa-fw" aria-hidden="true"></i>&nbsp; Alpha Beta Game</a>
  <a href="#" routerLink="/projects/cs/student-db" class="list-group-item list-group-item-action"><i class="fa fa-database fa-fw" aria-hidden="true"></i>&nbsp; Student Database</a>
  <a href="#" routerLink="/projects/cs/my-website" class="list-group-item list-group-item-action"><i class="fa fa-internet-explorer fa-fw" aria-hidden="true"></i>&nbsp; Personal Website</a>
  <a href="#" routerLink="/projects/cs/magic" class="list-group-item list-group-item-action"><i class="fa fa-magic fa-fw" aria-hidden="true"></i>&nbsp; Magic - Game</a>

</div>
