<div class="title-bar">

  <div class="container">

    <h1>Education</h1>

  </div>

</div>
<div class="main">

  <div class="container">

    <!-- UM-Flint -->
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              University of Michigan
            </h3>
          </div>
          <div class="card-body">
            <h4>
              <div id="half-star" class="fa"></div> M.S. Computer Science
            </h4>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i> MI, USA
            </p>
            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i> Sept 2017 - Present
            </p>
            <p>
              <i class="fa fa-graduation-cap" aria-hidden="true"></i> Expected Graduation: May 2019
            </p>
          </div>
          <div id="accordion1" role="tablist" aria-multiselectable="true">
            <div class="card-footer" role="tab" id="headingOne">
              <h4>
                <a role="button" (click)="isCollapsed1 = !isCollapsed1">
                  Relevant Courses Taken
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" [collapse]="isCollapsed1">
              <div class="panel-body">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>Course #</th>
                    <th>Description</th>
                    <th>Semester</th>
                    <th>GPA</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">CSC 565</th>
                    <td>Computer System Architecture</td>
                    <td>Winter 2018</td>
                    <td>I.P</td>
                  </tr>
                  <tr>
                    <th scope="row">CSC 570</th>
                    <td>Cyber Security</td>
                    <td>Winter 2018</td>
                    <td>I.P</td>
                  </tr>
                  <tr>
                    <th scope="row">CSC 587</th>
                    <td>Advanced Data Mining</td>
                    <td>Winter 2018</td>
                    <td>I.P</td>
                  </tr>
                  <tr>
                    <th scope="row">CSC 335</th>
                    <td>Computer Networks I</td>
                    <td>Winter 2018</td>
                    <td>I.P</td>
                  </tr>
                  <tr>
                    <th scope="row">CSC 500</th>
                    <td>Intensive Computer Programming</td>
                    <td>Autumn 2017</td>
                    <td>4.0</td>
                  </tr>
                  <tr>
                    <th scope="row">CSC 382</th>
                    <td>Software Engineering</td>
                    <td>Autumn 2017</td>
                    <td>4.0</td>
                  </tr>
                  <tr>
                    <th scope="row">CSC 384</th>
                    <td>Database Design</td>
                    <td>Autumn 2017</td>
                    <td>4.0</td>
                  </tr>
                  <tr>
                    <th scope="row">CIS 360</th>
                    <td>Info Tech Hardware & Software</td>
                    <td>Autumn 2017</td>
                    <td>4.0</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <h1>
          GPA 4.0
        </h1>

        <a href="assets/img/u_of_michigan.png"><img src="assets/img/u_of_michigan.png" width="50%"></a>

      </div>

    </div>

    <!-- UW-Master-->
    <br>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="panel-title">
              University of Washington - Seattle
            </h3>
          </div>
          <div class="card-body">
            <h4>
              <i class="fa star-full"></i> M.S. Structural Engineering
            </h4>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i> Seattle, WA, USA
            </p>
            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i> Sept 2016 - June 2017
            </p>
          </div>
          <div id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="card-footer" role="tab" id="headingTwo">
              <h4>
                <a role="button" (click)="isCollapsed2 = !isCollapsed2">
                  Relevant Courses Taken
                </a>
              </h4>
            </div>

            <div id="collapse2" class="panel-collapse collapse" [collapse]="isCollapsed2">

              <div class="panel-body">

                <table class="table table-hover table-striped">

                  <thead>

                  <tr>

                    <th>Course #</th>

                    <th>Description</th>

                    <th>Semester</th>

                    <th>GPA</th>

                  </tr>

                  </thead>

                  <tbody>

                  <tr>

                    <th scope="row">CEE 504</th>

                    <td>Finite Element Analysis</td>

                    <td>Spring 2017</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 506</th>

                    <td>Non-Linear Analysis</td>

                    <td>Spring 2017</td>

                    <td>3.5</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 515</th>

                    <td>Earthquake Engineering</td>

                    <td>Spring 2017</td>

                    <td>3.3</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 502</th>

                    <td>Structural Dynamics</td>

                    <td>Winter 2017</td>

                    <td>3.9</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 513</th>

                    <td>Advanced Steel</td>

                    <td>Winter 2017</td>

                    <td>3.6</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 600</th>

                    <td>Independent Study</td>

                    <td>Winter 2017</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CM 515</th>

                    <td>Innovative Project Management</td>

                    <td>Winter 2017</td>

                    <td>3.8</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 501</th>

                    <td>Structural Mechanics</td>

                    <td>Autumn 2016</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 505</th>

                    <td>Engineering Computing</td>

                    <td>Autumn 2016</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 511</th>

                    <td>Advanced Reinforced Concrete</td>

                    <td>Autumn 2016</td>

                    <td>3.6</td>

                  </tr>

                  </tbody>

                </table>

              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">

        <h1>

          GPA 3.68

        </h1>

        <a href="assets/img/u_of_washington.png"><img src="assets/img/u_of_washington.png" width="40%"></a>

      </div>

    </div>

    <!-- UW-Bachelor -->
    <br>
    <div class="row">

      <div class="col-md-8">

        <div class="card">

          <div class="card-header">

            <h3 class="panel-title">

              University of Washington - Seattle

            </h3>

          </div>

          <div class="card-body">

            <h4>

              <div class="fa star-full"></div> B.S. Civil Engineering (Cum Laude)

            </h4>

            <p>

              <i class="fa fa-map-marker" aria-hidden="true"></i> Seattle, WA, USA

            </p>

            <p>

              <i class="fa fa-calendar" aria-hidden="true"></i> Sept 2013 - June 2016

            </p>

          </div>

          <div id="accordion3" role="tablist" aria-multiselectable="true">
            <div class="card-footer" role="tab" id="headingThree">
              <h4>
                <a role="button" (click)="isCollapsed3 = !isCollapsed3">
                  Relevant Courses Taken
                </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" [collapse]="isCollapsed3">

              <div class="panel-body">

                <table class="table table-hover table-striped">

                  <thead>

                  <tr>

                    <th>Course #</th>

                    <th>Description</th>

                    <th>Semester</th>

                    <th>GPA</th>

                  </tr>

                  </thead>

                  <tbody>

                  <tr>

                    <th scope="row">CEE 442</th>

                    <td>Structural Engineering Capstone</td>

                    <td>Spring 2016</td>

                    <td>3.9</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 455</th>

                    <td>Structural Masonry Design</td>

                    <td>Spring 2016</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 367</th>

                    <td>GeoTech Engineering</td>

                    <td>Spring 2016</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 454</th>

                    <td>Design of Timber Structures</td>

                    <td>Winter 2016</td>

                    <td>3.4</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 481</th>

                    <td>Hydraulic Design Environment</td>

                    <td>Winter 2016</td>

                    <td>3.9</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 599/454</th>

                    <td>Prestressed Concrete Design</td>

                    <td>Winter 2016</td>

                    <td>3.5</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 599/457</th>

                    <td>Advanced Structures II</td>

                    <td>Winter 2016</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">INDE 315</th>

                    <td>Probability & Statistics for Engineering</td>

                    <td>Winter 2016</td>

                    <td>3.8</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 451</th>

                    <td>Design of Metal Structures</td>

                    <td>Autumn 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 452</th>

                    <td>Design of Concrete Structures</td>

                    <td>Autumn 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 347</th>

                    <td>Fluid Mechanics</td>

                    <td>Autumn 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 337</th>

                    <td>Construction Materials</td>

                    <td>Spring 2015</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 357</th>

                    <td>Environmental Engineering</td>

                    <td>Spring 2015</td>

                    <td>3.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 456</th>

                    <td>Advanced Structures I</td>

                    <td>Spring 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 220</th>

                    <td>Mechanics of Materials</td>

                    <td>Winter 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 291</th>

                    <td>AUTOCAD</td>

                    <td>Winter 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 377</th>

                    <td>Structural Design</td>

                    <td>Winter 2015</td>

                    <td>3.9</td>

                  </tr>

                  <tr>

                    <th scope="row">ME 230</th>

                    <td>Kinematics & Dynamics</td>

                    <td>Winter 2015</td>

                    <td>3.4</td>

                  </tr>

                  <tr>

                    <th scope="row">MATH 308</th>

                    <td>Linear Algebra</td>

                    <td>Winter 2015</td>

                    <td>4.0</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 307</th>

                    <td>Construction Engineering</td>

                    <td>Autumn 2014</td>

                    <td>3.8</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 317</th>

                    <td>Geo Surveying</td>

                    <td>Autumn 2014</td>

                    <td>3.9</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 416</th>

                    <td>Urban Transportation Planning/Design</td>

                    <td>Autumn 2014</td>

                    <td>3.3</td>

                  </tr>

                  <tr>

                    <th scope="row">CEE 327</th>

                    <td>Transportation Engineering</td>

                    <td>Spring 2014</td>

                    <td>3.7</td>

                  </tr>

                  <tr>

                    <th scope="row">CSE 142</th>

                    <td>Computer Programming I</td>

                    <td>Spring 2014</td>

                    <td>3.8</td>

                  </tr>

                  <tr>

                    <th scope="row">AMATH 301</th>

                    <td>Scientific Computing</td>

                    <td>Autumn 2013</td>

                    <td>4.0</td>

                  </tr>



                  </tbody>

                </table>

              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="col-md-4 text-center">

        <h1>

          GPA 3.74

        </h1>

        <a href="assets/img/u_of_washington.png"><img src="assets/img/u_of_washington.png" width="40%"></a>

      </div>

    </div>

    <!-- UM-Dartmouth -->
    <br>
    <div class="row">

      <div class="col-md-8">

        <div class="card">

          <div class="card-header">

            <h3 class="panel-title">

              University of Massachusetts - Dartmouth

            </h3>

          </div>

          <div class="card-body">

            <h4>

              <div class="fa star-full"></div> General Engineering

            </h4>

            <p>

              <i class="fa fa-map-marker" aria-hidden="true"></i> North Dartmouth, MA, USA

            </p>

            <p>

              <i class="fa fa-calendar" aria-hidden="true"></i> June 2012 - May 2013

            </p>

          </div>

        </div>

      </div>

      <div class="col-md-4 text-center">

        <h1>

          GPA 4.0

        </h1>

        <a href="assets/img/u_of_mass.png"><img src="assets/img/u_of_mass.png" width="40%"></a>

      </div>

    </div>

    <!-- Self Study -->
    <br>
    <div class="row">

      <div class="col-md-8">

        <div class="card">

          <div class="card-header">

            <h3 class="panel-title">

              Self Study

            </h3>

          </div>
          <div class="card-body">
            <p>
              I acquired most of my computer science knowledge outside the classroom. Since I don't have
              a degree in CS, I had to spend numerous hours reading books, watching lectures etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
