<div class="list-group">

  <a href="#" routerLink="/projects/engr" class="list-group-item card-header">

    Other Engineering Projects

  </a>

  <a href="#" routerLink="/projects/engr/project-506" class="list-group-item list-group-item-action"><i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Reinforced Buckling Model</a>

  <a href="#" routerLink="/projects/engr/project-453" class="list-group-item list-group-item-action"><i class="fa fa-bus fa-fw" aria-hidden="true"></i>&nbsp; Prestressed Bridge Design</a>

  <a href="#" routerLink="/projects/engr/project-442" class="list-group-item list-group-item-action"><i class="fa fa-building fa-fw" aria-hidden="true"></i>&nbsp; Capstone Design Project</a>

</div>
