<div class="title-bar">

  <div class="container">

    <h1>Reference</h1>

  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Matthew Spradling

          </h3>

        </div>

        <div class="card-body">

          <h4>

            Assistant Professor

          </h4>

          <p>

            <i class="fa fa-map-marker" aria-hidden="true"></i> University of Michigan - Flint

          </p>

          <p>

            <i class="fa fa-address-card-o" aria-hidden="true"></i> Dept of CSEP, Murchie Science Building, 207

          </p>

          <p>

            <i class="fa fa-phone-square" aria-hidden="true"></i> 810-762-3469

          </p>

          <p>

            <i class="fa fa-at" aria-hidden="true"></i> mjspra@umflint.edu

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Relation

          </h3>

        </div>

        <div class="card-body">

          <ul>

            <li>

              Research adviser

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Laura N.Lowes

          </h3>

        </div>

        <div class="card-body">

          <h4>

            Structural Engineering Professor, Department Chair

          </h4>

          <p>

            <i class="fa fa-map-marker" aria-hidden="true"></i> University of Washington Seattle

          </p>

          <p>

            <i class="fa fa-address-card-o" aria-hidden="true"></i> Dept of CEE, More Hall, 201-C

          </p>

          <p>

            <i class="fa fa-phone-square" aria-hidden="true"></i> 206-685-2563

          </p>

          <p>

            <i class="fa fa-at" aria-hidden="true"></i> lowes@uw.edu

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Relation

          </h3>

        </div>

        <div class="card-body">

          <ul>

            <li>

              Instructor for <span title="Advanced Structure II">CEE 457/599<sup><i class="fa fa-info" aria-hidden="true"></i></sup></span>,

              <span title="Non-Linear Analysis">CEE 506<sup><i class="fa fa-info" aria-hidden="true"></i></sup></span> courses

            </li>

            <li>

              Primary research adviser

            </li>

            <li>

              Worked as a TA for <span title="Advanced Structure II">CEE 457/599<sup><i class="fa fa-info" aria-hidden="true"></i></sup></span>

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Dawn E. Lehman

          </h3>

        </div>

        <div class="card-body">

          <h4>

            Structural Engineering Professor

          </h4>

          <p>

            <i class="fa fa-map-marker" aria-hidden="true"></i> University of Washington Seattle

          </p>

          <p>

            <i class="fa fa-address-card-o" aria-hidden="true"></i> Dept of CEE, Loew Hall, 374

          </p>

          <p>

            <i class="fa fa-phone-square" aria-hidden="true"></i> 206-715-2108

          </p>

          <p>

            <i class="fa fa-at" aria-hidden="true"></i> delehman@uw.edu

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Relation

          </h3>

        </div>

        <div class="card-body">

          <ul>

            <li>

              Instructor for <span title="Structure Capstone">CEE 442<sup><i class="fa fa-info" aria-hidden="true"></i></sup></span> class

            </li>

            <li>

              Secondary research adviser

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Richard Wiebe

          </h3>

        </div>

        <div class="card-body">

          <h4>

            Structural Engineering Assistant Professor

          </h4>

          <p>

            <i class="fa fa-map-marker" aria-hidden="true"></i> University of Washington Seattle

          </p>

          <p>

            <i class="fa fa-address-card-o" aria-hidden="true"></i> Dept of CEE, More Hall, 214-B

          </p>

          <p>

            <i class="fa fa-phone-square" aria-hidden="true"></i> 206-221-1476

          </p>

          <p>

            <i class="fa fa-at" aria-hidden="true"></i> rwiebe@uw.edu

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Relation

          </h3>

        </div>

        <div class="card-body">

          <ul>

            <li>

              Instructor for <span title="Structure Mechanics">CEE 501<sup><i class="fa fa-info" aria-hidden="true"></i></sup></span> class

            </li>

            <li>

              Worked as a TA for <span title="Advanced Structure I">CEE 456<sup><i class="fa fa-info" aria-hidden="true"></i></sup></span> class

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
