<div class="card">
  <div class="card-header">
    <h3 class="panel-title">Pure Computer Science</h3>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="crimsoncode-2018">
            <img src="assets/img/project/crimsoncode2018/1.JPG" alt="" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Read More...</div>
            </div>
          </a>
          <p class="text-center">
            Newtonify API - Hackathon
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="concrete-section-web">
            <img src="assets/img/project/beamCalculator/home1.JPG" alt="" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Read More...</div>
            </div>
          </a>
          <p class="text-center">
            Beam Calculator - Web App
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="alpha-beta">
            <img src="assets/img/project/AlphaBeta/mainMenu.JPG" alt="" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Read More...</div>
            </div>
          </a>
          <p class="text-center">
            Alpha Beta - Game
          </p>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="student-db">
            <img src="assets/img/project/StudentDatabase/Add_data.PNG" alt="" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Read More...</div>
            </div>
          </a>
          <p class="text-center">
            Student Database GUI Application
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="magic">
            <img src="assets/img/project/magic/1.PNG" alt="" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Read More...</div>
            </div>
          </a>
          <p class="text-center">
            Magic - Game
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="hover-container">
          <a href="#" routerLink="my-website">
            <img src="assets/img/project/MyWebsite/1.JPG" alt="" class="image" style="width:100%">
            <div class="middle">
              <div class="text">Read More...</div>
            </div>
          </a>
          <p class="text-center">
            My Website
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
