
<div class="title-bar">

  <div class="container">

    <h1>Computer Science</h1>

  </div>

</div>

<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Personal Website

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>Independent Project</strong> - Summer 2017

          </h4>

          <p>

            My personal website defines who I am neatly. It has information about my work experiences,

            where I got my education and what projects that I've worked on.

          </p>

          <p>
            Enjoy the exploration of Tsenguun. Go to <a href="#" routerLink="/">Home</a> page
          </p>
          <ul>
            <li>
              Tools used: Angular 5, Bootstrap 4, HTML5, CSS, PHP, TypeScript, and SASS
            </li>
          </ul>
          <p>
            Also, I do content management of GSMI's WordPress <i class="fa fa-wordpress fa-fw"></i> website. Go to the <a href="https://www.gsmi.mn/" target="_blank">website</a>
          </p>
          <a href="assets/img/tsenguun-devices.png" target="_blank"><img src="assets/img/tsenguun-devices.png" style="width: 100%"></a>







        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-cs></app-other-cs>

    </div>

  </div>

</div>
<app-footer></app-footer>
