<div class="title-bar">

  <div class="container">

    <h1>Computer Science</h1>

  </div>

</div>

<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Alpha Beta - Game

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>Individual Project</strong> - Summer 2017

          </h4>

          <h4>

            Description:

          </h4>

          <p>

            This is a simple number guessing game with a given hint after each guess.

          </p>

          <ul>

            <li>

              You can change the length of the number that you wish to guess ranging from 3 to 9.

            </li>

            <li>

              A random number is generated based on the length that has unique decimal digits.

            </li>

            <li>

              Then you try to guess that number.

            </li>

            <li>

              You get &alpha; for every digit that you guess correctly which has the right position

            </li>

            <li>

              You get &beta; for every digit that you guess correctly which does not have the right position

            </li>

            <li>

              You win after you guess the number correctly meaning after you get &alpha; = # of digits

            </li>

            <li>

              Simple as that!

            </li>

          </ul>

          <p>

            Some of the program's feature include: changing number of digits, storing the high score list in a database, and

            giving scores based on the performance.

          </p>

          <p>

            Also, the application itself is converted into executable format. You can download the installation file below from

            my Github page.

          </p>

          <ul>

            <li>

              Tools used: Python, PyQt5, SQLite3, and CSS

            </li>

          </ul>

          <p>

            <a href="https://github.com/tsenguunchik/AlphaBeta" target="_blank"> Link</a> for the Github page.

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-cs></app-other-cs>

    </div>

  </div>
  <br>


  <div class="row">
    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>

<app-footer></app-footer>
