@import '~sass/mixins';

.col-md-4{
  text-align: center;
}
.col-md-3{
  p{
    font-size: 40px;
  }
}

//.fa-stack{
//  font-size: 8em;
//}

a {
  color: $main-color;
  :hover {
    color: darken($main-color, 10);
  }
}

