<div class="title-bar">

  <div class="container">

    <h1>Projects</h1>

  </div>

</div>



<div class="project">

  <div class="container">

    <div class="row">

      <div class="col-md-4 text-center">

        <a href="#" routerLink="cs">

                    <span class="fa-stack">

                      <i class="fa fa-television fa-stack-2x"></i>

                      <i class="fa fa-terminal fa-stack-1x"></i>

                    </span>

          <p>Computer Science Projects</p>

        </a>

      </div>

      <div class="col-md-4 text-center">

        <a href="#" routerLink="engr">

                    <span class="fa-stack">

                      <i class="fa fa-square-o fa-stack-2x"></i>

                      <i class="fa fa-cogs fa-stack-1x"></i>

                    </span>

          <p>Engineering Projects</p>

        </a>



      </div>

      <div class="col-md-4 text-center">

        <a href="#" routerLink="book">

                    <span class="fa-stack">

                      <i class="fa fa-circle-o fa-stack-2x"></i>

                      <i class="fa fa-book fa-stack-1x"></i>

                    </span>
          <p>Book</p>

        </a>



      </div>

    </div>

  </div>

</div>

<app-footer></app-footer>
