<div class="title-bar">

  <div class="container">

    <h1>Engineering</h1>

  </div>

</div>

<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Steel Reinforcing Buckling in Reinforced Concrete

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>CEE 506 Nonlinear Analysis & CEE 504 Finite Element Analysis</strong> - Spring 2017

          </h4>

          <h4>

            Scope

          </h4>

          <p>

            For this project we modeled the buckling of longitudinal steel reinforcing bars within reinforcing concrete.

            Rebar buckling is an incredibly difficult phenomena to model and very few programs possess the models required

            to capture this. This complication was interesting enough for us that we decided to model the reinforced concrete

            column specimens presented by Dr. Travis Welt. Dr. Welt’s research dealt with the concrete and left the steel response

            out of the scope. In modeling the rebar buckling we compared results between different specimens to compare the effect

            different levels of confinement had on the compressive capacity of the column as well as the buckling capacity of the steel.

          </p>

          <p>

            This project proved to be difficult because modeling the buckling behavior was completely new and ABAQUS

            had no existing behavioral models to account for this. We ran into several problems, the first of which

            being the inability to accurately model the behavior. We modeled the reinforced concrete columns in ABAQUS.

            We first modeled specimen CS5 from Dr. Welt’s research but found our model to reach failure at a greater load

            than Dr. Welt’s ATENA models but at a significantly smaller displacement. When we checked the stresses in the

            concrete and steel, neither had stresses beyond limit states. There was one exception to this which was the concrete

            core had compressive stresses higher than allowable but that was expected and acceptable due to the confinement of

            the surrounding concrete as well as confining steel.

          </p>

          <ul>

            <li>

              Role: Modelling the parts in ABAQUS. Non-Linear analysis in Opensees and Matlab

            </li>

            <li>

              Team Members: Mike Orloff, Bowei Liang

            </li>

            <li>

              Tools used: ABAQUS, Matlab, Python

            </li>

          </ul>

          <p>

            <a href="assets/project/506.pdf" target="_blank"> Link</a>  for the full document.

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-engr></app-other-engr>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>

  </div>

</div>
<app-footer></app-footer>
