<div class="title-bar">

  <div class="container">

    <h1>Computer Science</h1>

  </div>

</div>


<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Student's Database

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>CEE 505 Engineering Computing</strong> - Autumn 2016

          </h4>

          <h4>

            Scope

          </h4>

          <p>

            A basic CRUD software. The purpose of this program is to store, search, and show people's data. We used Python for

            this project and wxPython has been used for the GUI framework. For the database storage,

            SQLite was used because of simplicity and easy to use approach.

          </p>

          <p>

            Some of the program's feature include: checking for duplicate, search with criteria, and file storage.

          </p>

          <p>

            My role in this project was setting up the database, front-end and back-end development.

          </p>

          <ul>

            <li>

              Team Member: Bowei Liang

            </li>

            <li>

              Tools used: Python, WxPython, SQLite

            </li>

          </ul>

          <p>

            <a href="assets/project/505.pdf" target="_blank"> Link</a> for the full report document.

          </p>

        </div>

      </div>

    </div>

    <div class="col-md-4">

      <app-other-cs></app-other-cs>

    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
<app-footer></app-footer>
