<div class="title-bar">

  <div class="container">

    <h1>Computer Science & Engineering</h1>

  </div>

</div>

<div class="container">

  <!-- Inequality Book -->

  <div class="row">

    <div class="col-md-8">

      <div class="card">

        <div class="card-header">

          <h3 class="panel-title">

            Specially Reinforced Wall Analysis

          </h3>

        </div>

        <div class="card-body">

          <h4>

            <strong>Research Project</strong> - Spring 2016 - Spring 2017

          </h4>

          <h4>

            Scope

          </h4>

          <p>

            The research project that I was involved in deals with Reinforced Concrete shear walls.

            I have done designed 8 story building wall and analysed it by pushover & dynamic method

            according to <a href="https://www.atcouncil.org/">ATC</a> - 123 (Applied Technology Council).

            The design and analysis processes have been automated for further study.

          </p>

          <p>

            Later on, I've worked on expanding the current wall database to add newly tested specimen.

            The most important work would be implementing Maekawa's buckling model in all 26 wall specimens.

            All of these processes have been automated and there is a paper coming up about the results.

          </p>

          <p>

            The graphs below are some of the plots that are produced through the automated algorithm.

          </p>

          <ul>

            <li>

              Tools used: Python, Matlab, Opensees

            </li>

          </ul>

        </div>

      </div>

    </div>

    <div class="col-md-4">
      <app-other-cs-engr></app-other-cs-engr>
    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-8">
      <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slide of slides; let index=index">
          <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h5>{{slide.text}}</h5>
          </div>
        </slide>
      </carousel>



      <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->

        <!--&lt;!&ndash; Indicators &ndash;&gt;-->

        <!--<ol class="carousel-indicators">-->

          <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->

          <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->

          <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->

          <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->

          <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->

        <!--</ol>-->



        <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->

        <!--<div class="carousel-inner" >-->

          <!--<div class="carousel-item active">-->

            <!--<img class="d-block w-100" src="assets/img/project/ResearchWall/pushover.JPG" alt="...">-->

            <!--<div class="carousel-caption">-->

              <!--Push Over Analysis - Comparison-->

            <!--</div>-->

          <!--</div>-->

          <!--<div class="carousel-item">-->

            <!--<img class="d-block w-100" src="assets/img/project/ResearchWall/IDA.JPG" alt="...">-->

            <!--<div class="carousel-caption">-->

              <!--Incremental Dynamic Analysis-->

            <!--</div>-->

          <!--</div>-->

          <!--<div class="carousel-item">-->

            <!--<img class="d-block w-100" src="assets/img/project/ResearchWall/comparison.JPG" alt="...">-->

            <!--<div class="carousel-caption">-->

              <!--Comparison between measured and buckling models-->

            <!--</div>-->

          <!--</div>-->

          <!--<div class="carousel-item">-->

            <!--<img class="d-block w-100" src="assets/img/project/ResearchWall/IP.JPG" alt="...">-->

            <!--<div class="carousel-caption">-->

              <!--Different Integration plots-->

            <!--</div>-->

          <!--</div>-->

          <!--<div class="carousel-item">-->

            <!--<img class="d-block w-100" src="assets/img/project/ResearchWall/StressStrain.JPG" alt="...">-->

            <!--<div class="carousel-caption">-->

              <!--Stress Strain of a given section-->

            <!--</div>-->

          <!--</div>-->

        <!--</div>-->



        <!--&lt;!&ndash; Controls &ndash;&gt;-->

        <!--<a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">-->

          <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->

          <!--<span class="sr-only">Previous</span>-->

        <!--</a>-->

        <!--<a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">-->

          <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->

          <!--<span class="sr-only">Next</span>-->

        <!--</a>-->

      <!--</div>-->

    </div>

  </div>

</div>
<app-footer></app-footer>
